<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/items/my-items">
            <span>My Items</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/items/saved-items">
            <span>Saved Items</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/goods/my-goods">
            <span>My goods</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/orders/my-orders">
            <span>My orders</span>
        </a>
    </li>
</ul>
